{% extends 'base.html' %}
{% block title %}Ophthalmology{% endblock title %}
{% block styleInclude %}
.banner-btn {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: rgb(137, 120, 156);
    /* background-image: linear-gradient(rgba(0,0,0,0.5), #575e99),url(backgrounds.jpg); */
}
.banner-btn a{
    margin-left: 50%;
   
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: black;
    border: .5px solid black;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}


.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: -1; /*hover effect time  */
    transition: 0.5s;




}


.banner-btn a:hover span{
    width: 100%;




}
.banner-btn a:hover{
    color:aliceblue;
}


footer style{
            width:100vh;
            height: 7rem;
            background-color:  #2d0b00;
            margin-top: auto;
        }
        .footer p{
            color: white;
            background: linear-gradient(to right,#00093c, #2d0b00);
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            line-height: 5rem;
        }

{% endblock styleInclude %}

{% block body %}
<div>
    <h1>Doctors Profile</h1>
    <br>
    <br>
    <p>Dr. Sumita Arora
        MBBS, MD - Internal Medicine, DM-Neurology
        15 Years Of Experience - Neurologist, Neurosurgeon
        Dr. Sumita Arora is a renowned Neurologist in Gurgaon. For the past 15 years, Dr. Sumita Arora has worked as a Neuro Physician and gained proficient skills and knowledge in the segments. She has pursued degree of MBBS from Topiwala National Medical College and Bai Yamunabai Laxman Nair Hospital, Mumbai in 2003, MD Internal Medicine from Grant Medical College, Mumbai in 2008 and DM- Neurology from Jawaharlal Institute of Post Graduate Medical Education and Research, Pondicherry in 2014.
        <div class="banner-btn">
            <a href="fixAppointment"><span></span> Book</a>
           
        </div>
    </p>
    <br>
    <p>Dr. Sumita Arora
        MBBS, MD - Internal Medicine, DM-Neurology
        15 Years Of Experience - Neurologist, Neurosurgeon
        Dr. Sumita Arora is a renowned Neurologist in Gurgaon. For the past 15 years, Dr. Sumita Arora has worked as a Neuro Physician and gained proficient skills and knowledge in the segments. She has pursued degree of MBBS from Topiwala National Medical College and Bai Yamunabai Laxman Nair Hospital, Mumbai in 2003, MD Internal Medicine from Grant Medical College, Mumbai in 2008 and DM- Neurology from Jawaharlal Institute of Post Graduate Medical Education and Research, Pondicherry in 2014.
        <br>
        <div class="banner-btn">
            <a href="fixAppointment"><span></span> Book</a>
           
        </div>
    </p>
    <br>
    <p>Dr. Sumita Arora
        MBBS, MD - Internal Medicine, DM-Neurology
        15 Years Of Experience - Neurologist, Neurosurgeon
        Dr. Sumita Arora is a renowned Neurologist in Gurgaon. For the past 15 years, Dr. Sumita Arora has worked as a Neuro Physician and gained proficient skills and knowledge in the segments. She has pursued degree of MBBS from Topiwala National Medical College and Bai Yamunabai Laxman Nair Hospital, Mumbai in 2003, MD Internal Medicine from Grant Medical College, Mumbai in 2008 and DM- Neurology from Jawaharlal Institute of Post Graduate Medical Education and Research, Pondicherry in 2014.
        <div class="banner-btn">
            <a href="fixAppointment"><span></span> Book</a>
           
        </div>
    </p>
    <br>
    <p>Dr. Rajesh Verma
        MBBS, DM-Neurology, MD General Medicine
        30 Years of Practice, 1 Awards Neurologist
        Dr. Rajesh Verma is an experienced Director Neurology practicing in Delhi at Neurology and Sleep Centre, New Delhi. He specialises in Mentoplasty and General Neurologist. He has done her MBBS from Christian Medical College in Ludhiana and DM in Neurology from All India Institute of Medical Sciences, New Delhi.
        <div class="banner-btn">
            <a href="fixAppointment"><span></span> Book</a>
           
        </div>
    </p>
</div>

{% endblock body %}