{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block style %}<link rel="stylesheet" href="static/css/services.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    {% endblock style %}
{% block body %}
<section>
    <div class="row">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-hammer"></i> -->
          </div>
          <h3>Lab Test</h3>
          <p>
            We provide Lab Test.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-kidneys"></i>
            <i class="fa-solid fa-kidneys"></i> -->
          </div>
          <h3>Surgeries</h3>
          <p>
            We are specialized in surgeries.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-wrench"></i> -->
          </div>
          <h3>Medical Prescription </h3>
          <p>
            We give medical prescription..
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-truck-pickup"></i> -->
          </div>
          <h3>100% safe consultation</h3>
          <p>
            We provide 100% safe consultation.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-broom"></i> -->
          </div>
          <h3>Consult Doctors 24×7</h3>
          <p>
            There is a facility of 24×7.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-plug"></i> -->
          </div>
          <h3>Emergency Services</h3>
          <p>
            We provide emergency services.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% endblock body %}